BasedOnStyle: LLVM
ColumnLimit: 120
IndentWidth: 2
UseTab: Never
PointerAlignment: Right
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: true
AlignAfterOpenBracket: Align

BreakBeforeBraces: Custom
BraceWrapping:
  AfterControlStatement: Always
  BeforeElse: true
  BeforeCatch: true
  AfterFunction: false
  AfterClass: false
  AfterStruct: false
  AfterNamespace: false
  AfterEnum: false
  AfterUnion: false
  BeforeLambdaBody: false
  IndentBraces: false

SpaceBeforeParens: Custom
SpaceBeforeParensOptions:
  AfterControlStatements: false
  AfterFunctionDefinitionName: false
  AfterFunctionDeclarationName: false
  BeforeNonEmptyParentheses: false
SortIncludes: false
