@font-face {
  font-family: "Roboto";
  src: url('../fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: "FiraCode";
  src: url('../fonts/FiraCode-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: "FiraCode";
  src: url('../fonts/FiraCode-Bold.ttf') format('truetype');
  font-weight: bold;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #777;
}

html, body {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  scrollbar-color: #999 #333;
}

body {
  font-family: 'Roboto';
  background-color: #181818;
  color: white;
  
  display: flex;
  justify-content: center;
}

pre, textarea, code {
  font-family: FiraCode, monospace;
  font-size: 12px;
}

h1 {
  text-align: center;
  margin: 8px 0;
  font-size: 28px;
}

code {
  border: none;
  border-radius: 10px;
}

pre, .settings {
  width: 400px;
  max-height: 100%;
  
  background-color: #252525;
  border: 0;
  border-radius: 10px;
  padding: 12px;
  color: #EEE;
  margin: 0;

  text-align: left;
  overflow-y: scroll;
  resize: none;

  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.pageContainer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: calc(100% - 48px);
  height: calc(100% - 46px);
  padding: 16px 0;
  gap: 16px;
}

.leftContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-width: 70%;
}

.mainContainer {
  display: flex;
  justify-content: center;
  gap: 16px;
  flex-grow: 1;
  min-height: 0;
}

.mainContainer > div {
  flex-grow: 5;
  position: relative;
}

.mainContainer .asmContainer {
  flex-grow: 1;
  width: 25%;
  min-width: 150px;
}

.asmContainer pre {
  width: auto;
  padding: 0;
  margin: 0;
}

.asmOverlay {
  display: block;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 0;
}

.asmContainer pre {
  background-color: #2D2D2D;
}

#outputASM, #outputASMOpt {
  padding-left: 28px;
  position: relative;
  background: none;
}

#outputASMOpt {
  padding-left: 24px;
}

.asmOverlay span {
  display: inline-block;
  width: calc(100% - 10px);
  height: 15px;
  background-color: #808080;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  user-select: none;
  color: #181818;
  text-align: right;
  padding-right: 2px;
}

.asmOverlay span.dep {
  width: 4px;
  background: none;
  border-style: solid;
  border-width: 2px 0 2px 2px;
  opacity: 1.0;
}

.asmOverlay span.opt {
  text-align: left;
  padding-left: 4px;
}

.stickyOverlay {
  position: absolute;
  padding-right: 4px;
  text-align: right;
  height: 0;
  width: 100%;
  z-index: 10;
}

.stickyOverlay > img:last-child {
  padding-right: 4px;
}

.stickyOverlay img {
  cursor: pointer;
  user-select: none;
}

.stickyOverlay img:hover {
  opacity: 0.9;
}

.stickyOverlay img:active {
  opacity: 0.7;
}

#inputRSPL {
  height: 100%;
  border-radius: 10px;
  font-family: FiraCode, monospace;
  min-width: 200px;
}

.rsplDocs {
  border-radius: 10px;
  padding: 5px 10px;
  background-color: #252525;
  overflow-y: auto;
  overflow-x: auto;
  flex-grow: 1;
  max-width: 640px;
  color: #eee;
  font-size: 16px;
}

.rsplDocs code {
  padding: 2px 4px;
  background-color: #333333;
}

.rsplDocs pre {
  background-color: #333333;
  width: auto;
}

.rsplDocs pre > code {
  padding: 0;
}

.rsplDocs h2, .rsplDocs h1 {
  color: #bb874b;
}

.rsplDocs h3 code {
  font-size: 16px;
  color: #dab28a;
}

.rsplDocs a {
  color: #dab28a;
}

.mainContainer  > pre:last-child {
  flex-grow: 0.05;
}

.bottomContainer {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.bottomContainer pre {
  height: 150px;
  width: 100%;
}

.noPadding {
  padding: 0;
}

img#buttonSaveASM {
  width: 26px;
  height: 26px;
  margin-right: 4px;
}

img#buttonCopyASM {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  margin-top: 10px;
}

#logOutput {
  border: 2px solid transparent;
  max-width: 100%;
}

#logOutput.error {
  border: 2px solid #db5656;
}
#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  
  display: flex;
  justify-content: center;
  gap: 12px;

  font-size: 12px;
  padding-bottom: 6px;
  font-weight: bold;
  color: #858585;
}

.settings {
  margin-left: 15px;
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.settings label {
  user-select: none;
  cursor: pointer;
}

#footer a {
  color: #dab28a;
  opacity: 0.7;
}

@media(max-width: 1000px) {
  .rsplDocs {
    display: none;
  }
  .leftContainer {
    flex-grow: 1;
  }
}