@font-face {
  font-family: "Roboto";
  src: url('../fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: "FiraCode";
  src: url('../fonts/FiraCode-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: "FiraCode";
  src: url('../fonts/FiraCode-Bold.ttf') format('truetype');
  font-weight: bold;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #777;
}

html, body {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  scrollbar-color: #999 #333;
}

body {
  font-family: 'Roboto';
  background-color: #181818;
  color: white;
  
  display: flex;
  justify-content: center;
}

pre, textarea, code {
  font-family: FiraCode, monospace;
  font-size: 12px;
}

h1 {
  text-align: center;
  margin: 8px 0;
  font-size: 28px;
}

code {
  border: none;
  border-radius: 10px;
}

pre {
  width: 400px;
  max-height: 100%;
  
  background-color: #252525;
  border: 0;
  border-radius: 10px;
  padding: 12px;
  color: #EEE;
  margin: 0;

  text-align: left;
  overflow-y: scroll;
  resize: none;

  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.pageContainer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: calc(100% - 48px);
  height: calc(100% - 46px);
  padding: 16px 0;
  gap: 16px;
}

.leftContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  _flex-grow: 1;
  min-width: 70%;
}

.mainContainer {
  display: flex;
  justify-content: center;
  gap: 16px;
  flex-grow: 1;
  min-height: 0;
}

.mainContainer > div, .mainContainer  > pre {
  flex-grow: 5;
  position: relative;
}

.mainContainer  > pre {
  flex-grow: 1;
}

#inputRSPL {
  height: 100%;
  border-radius: 10px;
  font-family: FiraCode, monospace;
  min-width: 200px;
}

#RSPL_DOCS {
  border-radius: 10px;
  padding: 5px 10px;
  background-color: #252525;
  overflow-y: auto;
  overflow-x: auto;
  flex-grow: 1;
  max-width: 640px;
  color: #eee;
  font-size: 16px;
}

#RSPL_DOCS code {
  padding: 2px 4px;
  background-color: #333333;
}

#RSPL_DOCS pre {
  background-color: #333333;
  width: auto;
}

#RSPL_DOCS pre > code {
  padding: 0;
}

#RSPL_DOCS h2, #RSPL_DOCS h1 {
  color: #bb874b;
}

#RSPL_DOCS h3 code {
  font-size: 16px;
  color: #dab28a;
}

#RSPL_DOCS a {
  color: #dab28a;
}

.mainContainer  > pre:last-child {
  flex-grow: 0.05;
}

.bottomContainer {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.bottomContainer pre {
  height: 150px;
  width: 100%;
}

.noPadding {
  padding: 0;
}

.stickyOverlay svg {
  cursor: pointer;
  user-select: none;
}

.stickyOverlay svg:hover {
  opacity: 0.9;
}

.stickyOverlay svg:active {
  opacity: 0.7;
}

svg#saveASM {
  width: 26px;
  height: 26px;
  margin-right: 4px;
}

svg#copyASM {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  margin-top: 10px;
}

.stickyOverlay {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  text-align: right;
  height: 1px;
}

#outputError {
  border: 2px solid transparent;
  max-width: 100%;
}

#outputError.error {
  border: 2px solid #db5656;
}

#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 12px;
  padding-bottom: 6px;
  font-weight: bold;
  color: #858585;
}